*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    background-color:seashell;
    height: 100%;
    width: 100%;
}

#nav{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 5px; */
}

#nav h3{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav i{
    font-size: 17px;
    border: 1.5px solid black;
    font-weight: 500;
    padding: 5px 8px;
    border-radius: 50px;    
}

#nav h1{
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
}

#btn2{
    border: none;
    color: white;
    background-color: orangered;
    /* background-color: transparent; */
}

#main>h1{
    font-size: 200px;
    font-weight: 300;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
}

/*
When you use image in    div    background then we use    backgroud-size: cover;.
And thwen we use image in   tag     then we use           object-fit: cover;.
*/

#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

#btm-left{
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 18px;
    font-weight: 500;
}
#btm-right{
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 30px;
    font-weight:lighter;
}